<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="inetBankingV1">

	<test name="Banking App Test">
		<parameter name="browser" value="Chrome" />

		<classes>
			<!--  <class name="com.inetBanking.testCases.TC001_LoginSuccess" />  -->
			<class name="com.inetBanking.testCases.TC_LoginDDT_002" />
		</classes>
	
	</test>

</suite>		